.latest-single {
  /**/
}

.card-body {
  /**/
}
.card-body .latest-buy-now {
  margin: 0;
}

.latest-buy-now a {
  transition: all 0.4s linear 50ms;
  padding: 0;
  line-height: 30px;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  @media screen and (max-width: 590px) {
    line-height: 32px;
  }
}
