.cart-is-empty {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
  @media screen and (max-width: 768px) {
    justify-content: space-around;
  }
  svg {
    width: 100%;
    max-width: 22px;
    height: auto;
  }
  h3,
  h5 {
    margin: 0;
    vertical-align: middle;
  }
}

.cart {
  h1 {
    margin: 3rem 0;
  }

  .cart-product {
    position: relative;
    margin-bottom: 3rem;
    height: 185px;
    overflow: hidden;
    padding: 1rem;
    align-items: center;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1),
      0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 0px 3px 0 rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 768px) {
      height: auto;
      box-shadow: none;
    }

    .image-link {
      width: 100%;
      display: flex;
      overflow: auto;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 100%;
      @media screen and (max-width: 767px) {
        width: 100%;
        padding: 2rem 0;
        border: 1px solid #e3e1e1;
        border-radius: 4px;
      }
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: transparent;
      border-radius: 0 !important;
    }

    .cart-close {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 1.25rem;
      @media screen and (max-width: 767px) {
        font-size: 1rem;
        right: 30px;
        top: 25px;
      }
    }

    .cart-image {
      width: 100%;
      max-width: 90px;
      object-fit: cover;
      height: auto;
      align-items: center;
    }

    .cart-title {
      display: flex;
      flex-direction: column;
      height: 150px;
      overflow: hidden;
      justify-content: center;

      h5 {
        font-weight: normal;
      }
    }

    .cart-total {
      display: flex;
      flex-direction: column;
      height: 96px;
      justify-content: center;
    }

    @media screen and (max-width: 767px) {
      .cart-image {
        display: flex;
        margin: 0 auto;
      }
      .cart-title {
        padding: 0 !important;
        margin-top: 2rem;
        height: auto;

        h5 {
          text-align: center;
          line-height: 1.5;
          font-size: 1.35rem;
        }

        p {
          margin: 0;
          font-size: 1.15rem;
          justify-content: center;
        }
      }
      .cart-total {
        margin-top: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;

        p {
          margin: 0;
          padding-right: 0.5rem;
          height: 38px;
          font-size: 1.25rem;
          justify-content: center;
        }

        > section {
          margin: 0 !important;
          justify-content: flex-start !important;

          button {
            width: 18px;
            height: 18px;
            font-size: 1rem;
            margin: 0 0.25rem;
            line-height: 15px !important;
            .fa.fa-minus::before,
            .fa.fa-plus:before {
              font-size: 11px !important;
            }
          }
        }
      }
    }

    .cart-qty {
      width: 22px;
      height: 22px;
      padding: 0;
      margin: 0 0.5rem;
      line-height: 22px;
      &:focus {
        outline: none !important;
        box-shadow: none !important;
      }
    }

    .item-information {
      display: flex;
      width: 100%;
      margin: 1rem 0;
      justify-content: flex-start;
      text-align: center;
    }

    .item-total {
      display: flex;
      width: 100%;
      letter-spacing: 1px;
      justify-content: center;
      label {
        display: inline-block;
        width: fit-content;
        padding: 0 0.5rem;
        text-align: right;
        width: 75px;
      }
    }
  }

  .checkout-btn {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 0;
    justify-content: center;
    > a {
      transition: all 0.4s linear 50ms;
    }
    button {
      padding: 0;
      transition: all 0.4s linear 50ms;
      padding: 0;
      line-height: 32px;
      letter-spacing: 0.5px;
    }
  }
}
