.cart-is-empty {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: auto;
  align-items: center;
  svg {
    width: 100%;
    max-width: 30px;
    height: auto;
  }
  h3,
  h4 {
    margin: 0;
    vertical-align: middle;
  }
}

.cart {
  h1 {
    margin: 3rem 0;
  }

  .cart-product {
    position: relative;
    margin-bottom: 3rem;
    display: flex;
    height: 175px;
    align-items: center;
    box-shadow: 0px 1px 1px 0 rgba(0, 0, 0, 0.12),
      0 2px 1px -1px rgba(0, 0, 0, 0.05), 0px 0px, 1px 0 rgba(0, 0, 0, 0.05);
    @media screen and (max-width: 768px) {
      height: auto;
      box-shadow: none;
    }

    .image-link {
      width: 100%;
      display: flex;
      overflow: auto;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      @media screen and (max-width: 767px) {
        width: 100%;
        box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.12),
          0 0px 0px 1px rgba(0, 0, 0, 0.04), 0px 0px, 1px 0 rgba(0, 0, 0, 0.05);
      }
    }

    @media screen and (max-width: 767px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      background-color: transparent;
      border-radius: 0 !important;
    }

    .cart-close {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 1.25rem;
      @media screen and (max-width: 767px) {
        font-size: 1.15rem;
        right: 30px;
        top: 25px;
      }
    }

    .cart-image {
      width: 100%;
      max-width: 96px;
      height: auto;
      align-items: center;
    }

    .cart-title {
      display: flex;
      flex-direction: column;
      height: 150px;
      overflow: hidden;
      justify-content: center;

      h5 {
        font-weight: normal;
      }
    }

    .cart-total {
      display: flex;
      flex-direction: column;
      height: 118px;
      justify-content: center;
    }

    @media screen and (max-width: 767px) {
      .cart-image {
        display: flex;
        margin: 0 auto;
        padding: 1rem;
      }
      .cart-title {
        padding: 0 !important;
        margin-top: 2rem;
        height: auto;

        h5 {
          font-size: 1.25rem;
          margin-top: 0 !important;
          margin-bottom: 0.5rem !important;
          text-align: center;
        }

        p {
          margin: 0;
          justify-content: center;
        }
      }
      .cart-total {
        margin-top: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;

        p {
          margin: 0;
          padding-right: 0.5rem;
          height: 38px;
          font-size: 1.25rem;
          justify-content: center;
        }

        > section {
          margin: 0 !important;
          justify-content: flex-start !important;

          button {
            width: 25px;
            height: 25px;
            font-size: 1rem;
            margin: 0 0.5rem;
            line-height: 25px !important;
          }
        }
      }
    }

    .cart-qty {
      width: 25px;
      height: 25px;
      padding: 0;
      margin: 0 1.25rem;
      line-height: 25px;
    }

    .item-information {
      display: flex;
      width: 100%;
      margin: 1rem 0;
      justify-content: flex-start;
      text-align: center;
    }

    .item-total {
      display: flex;
      width: 100%;
      letter-spacing: 1px;
      justify-content: center;
    }
  }

  .checkout-btn {
    display: flex;
    flex-wrap: wrap;
    margin: 5rem 0;
    justify-content: center;
    button {
      padding: 0;
      height: 42px;
      line-height: 42px;
    }
  }
}
