/* header */

header > nav {
  padding: var(--breadcrumb-padding);
  margin: 0;
  transition: all 0.3s linear 0ms;
  align-items: baseline;
  flex-direction: column;
  background-color: transparent !important;
  text-align: left;
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  display: flex;
  justify-content: center;
}

ol.breadcrumb {
  height: 22px;
  font-variant: all-small-caps;
  li.breadcrumb-item:first-child {
    line-height: 19px;
  }
  li.breadcrumb-item:last-child a {
    line-height: 19px;
  }
  @media only screen and (max-width: 767px) {
    font-size: 0.73rem;
    line-height: 21px;
    a {
      line-height: 16px !important;
    }
  }
}

.breadcrumb-item a {
  display: inline-block;
  color: var(--breadcrumb-reg-color);
  cursor: default;
  border-radius: 2px;
  margin-left: 5px;
  padding: var(--breadcrumb-padding);
  vertical-align: middle;
  &.active {
    background-color: var(--breadcrumb-bg);
    color: var(--breadcrumb-active-color);
    cursor: pointer;
    border: 1px solid var(--breadcrumb-border-color);
    text-decoration: none;
  }
}

.breadcrumb-item + .breadcrumb-item::before {
  content: '>' !important;
  padding: 0;
  line-height: 20px;
}
