.navbar {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}
.navbar-nav .nav-item {
  text-align: center;
  width: 100%;
  height: 40px;
  a {
    padding: 4px 0 4px;
    &.home-shop {
      margin-top: 0;
    }
  }
}

#home-shop {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-left: 20px;
  width: 260px;

  .nav-item img {
    max-width: 45px;
    width: 100%;
    height: auto;
  }
}

.buttons {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: flex-end;
  margin: 3px 5px 0;
  width: 260px;
}

.buttons a {
  border: 1px solid var(--color-btwo);
  padding: 4px 10px;
  line-height: 25px;
  display: inline-block;
  margin: 0 0 0 15px;
  transition: all 0.3s linear 50ms;
  svg {
    vertical-align: sub;
  }

}

.navbar-collapse {
  margin: 1px 0;
}

.navbar-nav .nav-item img {
  max-width: 45px;
  width: 100%;
  height: auto;
  .buttons {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: flex-end;
    margin: 3px 5px 0;
    width: 260px;
  }


  .btn.btn-outline-dark:hover svg {
    color: var(--color-white);
  }

  .navbar-collapse {
    margin: 1px 0;
  }
}


/* Navbar */
.navbar-nav a {
  font-size: 1.125rem;
}


.navbar {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.navbar-nav .nav-item {
  display: inline-block;
  min-width: 90px;
}

nav + small {
  transition: all 0.4s linear 250ms;
}
