.show-product-description {
  display: flex;
  justify-content: center;
  padding: 0 !important;
  margin: 3rem 0 !important;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
}

.product-details {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;

  .inner-product {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 3rem 0;
    justify-content: center;
    button.add-product {
      display: flex;
      overflow: hidden;
      div {
        visibility: visible;
        transition: all 0.4s linear 0ms;
        text-align: center;
        width: 100%;
        line-height: 32px;
        animation-duration: 0.5s;
        animation-delay: 0ms;
        &::before {
          visibility: hidden;
        }
      }
    }

    .btn-check:focus + .btn-dark,
    .btn-dark:focus {
      box-shadow: none !important;
    }

    button.goto.btn.btn-dark.disabled {
      background-color: var(--color-btwo);
      border: 1px solid var(--color-bfour);
      cursor: pointer;

    }
  }
}

.show-product {
  @media only screen and (max-width: 1199px) {
    padding: 0 1.5rem;
    margin: 3rem 0;
    box-sizing: border-box;
    max-width: 200px;
  }
  @media only screen and (max-width: 736px) {
    img {
      padding: 2.5rem;
    }
  }
}

.show-product-description {
  p {
    font-size: 1.15rem;
  }
  @media only screen and (max-width: 1199px) {
    text-align: center;
    h3 {
      margin: 1rem 0 1rem;
      line-height: 1.5;
    }
  }
  @media only screen and (max-width: 992px) {
    > div {
      justify-content: flex-start !important;
    }
  }
}

.button-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 2rem 0 0;
  button {
    transition: all 0.4s linear 0ms;
    height: 34px;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
  }
}
