.product-details {
    display: flex;
    button.add-product {
        min-width: 186px;
        overflow: hidden;
        > div {
            animation-duration: .5s !important;
            animation-delay: 150ms !important;
          
        }
    }

}