/* products filters */
.all-products {
  .products-filters button {
    transition: all 0.4s linear 50ms;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 1px 0 -1px rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.2);
    font-size: 1.1rem;
    border: 1px solid rgba(0, 0, 0, 0.47);
    @media only screen and (max-width: 767px) {
      font-size: 1.2rem;
      box-shadow: none;
      border-color: rgba(0, 0, 0, 0.22);
    }
  }
  .products-filters > button:active,
  .products-filters > button:focus {
    background-color: white;
    color: var(--color-black);
  }
}

/* latest products */
.latest-products {
  margin-bottom: 5rem;
  .latest-single {
    .card-body {
      .latest-buy-now {
        margin: 0;
        a {
          transition: all 0.4s linear 50ms;
          padding: 0;
          line-height: 34px;
          font-size: 1.15rem;
          letter-spacing: 0.5px;
        }
      }
    }
  }
}
