@import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../../node_modules/font-awesome/css/font-awesome.min.css';
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");

:root {
  /* colors */
  --color-black: #000000;
  --color-bone: #444444;
  --color-btwo: #5e5d23;
  --color-bthree: #cccccc;
  --color-bfour: #dddddd;
  --color-ored: #ed5858;
  --color-oyel: #ebe856;
  --color-white: #ffffff;


  /* breadcrumb */
  --breadcrumb-bg: var(--color-white);
  --breadcrumb-padding: 1px 3px;
  --breadcrumb-border-color: var(--color-ttwo);

  /* font */
  --fontone: 'Montserrat', sans-serif;



}

/* global */
*,
*:before,
*:after {
  outline: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100vh;
  margin: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
  color: var(--color-tthree);
  font-family: var(--fontone);
  line-height: 1.5;
  font-size: 0.8rem;
}

.page-wrap {
  min-height: calc(100vh - 54px);
}

.btn-outline-dark:focus {
  outline: none !important;
  box-shadow: none !important;
}


* {
  outline: none !important;
}





